body {
  font-family: Arial, sans-serif; 
  background-color: #f4f4f4; 
  margin: 20px; 
}

input[type="file"] {
  width: 90%; 
  margin: 10px 5%; 
  padding: 8px; 
  border: 2px solid #ddd; 
  border-radius: 4px; 
}

h2 {
  color: #333; 
  text-align: left; 
  margin-left: 5%; 
}

div.extracted-text {
  margin: 10px 5%; 
  padding: 15px; 
  background-color: #fff;
  border: 1px solid #ccc; 
  border-radius: 4px; 
  height: 150px; 
  overflow-y: scroll; 
}

input[type="file"]:hover {
  border-color: #0056b3; 
}

.divider {
  height: 20px; 
}

img {
  width: 45%;
  height: 450px; /* fixed height */
  object-fit: contain;
}